* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #ff6347;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 50px;
    margin: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

header nav ul li a:hover {
    color: #ffefd5;
}

.recipe-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-container img {
    width: 100%;
    border-radius: 10px;
}

.recipe-container h2 {
    margin: 20px 0;
    font-size: 2.5rem;
    color: #ff6347;
}

.recipe-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.recipe-container h3 {
    margin: 20px 0 10px;
    font-size: 1.8rem;
}

.recipe-container ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

.recipe-container ul li {
    font-size: 1rem;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #ff6347;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}